.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  justify-content: space-around;
  display: flex;
}

.image {
  width: 400px;
  height: 450px;
  border-radius: 8px;
  background: rgb(151, 161, 151);
}

.description {
  width: 600px;
  height: 450px;
  background: rgb(153, 59, 153);
  border-radius: 8px;
  text-align: center;
}

.pokemon {
  width: 300px;
  margin: 50px 50px;
}

.options {
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  margin-top: 50px;
}
